.sign_wrap
  .logo
    %p.title 
  .sign_title
    %img{:src => "#{image_path('logo.png')}"}
  .sign_line
  .sign_text
    %p.title 《区块链原理与应用》
    %p.desc 时间：7月10日-7月13日 19:00-21:00
    %p.desc 地点：西安交通大学（兴庆校区）主楼D205
  = form_tag signin_path, :method => 'post', :class => 'sign_form', :id =>'signForm', :remote => true do
    .sign_term
      = label_tag :phone, '', {class: "sign_phone"}
      = text_field_tag :phone, '', :placeholder => "请输入手机号"
      .tipinfo
    .sign_button
      %button#sign_button 签到
  .tip 注：Node积分将在本次课程结束后发放
.sign_bg{:style => "display: none"}
#suc_tk.sign_tk{:style => "display: none"}
  .sign_suc
    .suc_title 签到成功
    .sign_con
      %p 恭喜您
      %p 获得350 Node积分
    #suc_close.sign_close
#unsuc_tk.sign_tk{:style => "display: none"}
  .sign_unsuc
    .unsuc_title 签到失败
    .sign_con
      %p#unsuc_sub_title
      %p#unsuc_sub_title_desc
    #unsuc_close.sign_close
:javascript
  $(document).ready(function(){
  /*签到成功弹框关闭*/
    $("#signForm").bind('ajax:success', function() {
      var result = event.detail[0].result
      var message = event.detail[0].message
      var wallet_address = event.detail[0].wallet_address
      if(result == 0) {
        $(".sign_bg").show()
        $("#suc_tk").show()
      } else {
        switch(message) {
          case 'already_signed':
            $('#unsuc_sub_title').html('请勿重复签到')
            $('#unsuc_sub_title_desc').html('')
            break;
          case 'send_node_failure':
            $('#unsuc_sub_title').html('无法获取Node积分')
            $('#unsuc_sub_title_desc').html('请联系课程助教')
            break;
          case 'no_wallet_address':
            $('#unsuc_sub_title').html('手机号码无效')
            $('#unsuc_sub_title_desc').html('请联系课程助教')
            break;
          default:
            break;
        }
        $(".sign_bg").show()
        $("#unsuc_tk").show()
      }
    });
    $("#signForm").on('ajax:error', function(event, xhr, status, error) {
      console.log("sorry mate!");
      $('#unsuc_sub_title').html('签到失败')
      $('#unsuc_sub_title_desc').html('请联系课程助教')
      $(".sign_bg").show()
      $("#unsuc_tk").show()
    });

    $("#suc_close").click(function(){
      $("#suc_tk,.sign_bg").fadeOut(400);
    });
    /*签到失败弹框关闭*/
    $("#unsuc_close").click(function(){
      $("#unsuc_tk,.sign_bg").fadeOut(400);
    });
    $("#signForm").validate({
        onkeyup:false,
        //设置验证规则
        rules: {
            // "name": {
            //     required: true,
            // },
            "phone": {
                required: true,
                isMobile: true
            }
        },
        //设置错误信息
        messages: {
            // "name": {
            //     required: "姓名不能为空"
            // },
            "phone": {
                required: "手机号码不能为空",
                isMobile: "请输入有效的手机号码"
            }
        },
        errorElement:"font",
        errorPlacement: function(error, element){
            error.appendTo(element.parent().find(".tipinfo"));
        },success:"valid"
    });
  });
