%input#text{:style => "width:80%; display: none", :type => "text", :value => "http://node.meowtechnology.com?timestamp=#{@timestamp}"}/
%br/

%div{:style => "margin: 0 auto; text-align: center; margin-top: 10rem;"}
  #qrcode{:style => "width:300px; height:300px; margin-top:15px; margin: 0 auto; text-align: center;"}
:javascript
  setTimeout("self.location.reload();",1000 * 60);
  var qrcode = new QRCode(document.getElementById("qrcode"), {
    width : 300,
    height : 300
  });
  
  function makeCode () { 
    var elText = document.getElementById("text");
    
    if (!elText.value) {
      alert("Input a text");
      elText.focus();
      return;
    }
    
    qrcode.makeCode(elText.value);
  }
  
  makeCode();
