
<div class="sign_wrap">
    <div class="logo"><img src=<%= image_path('logo.png') %> alt="中厚明德logo"></div>
    <div class="sign_title"><img src=<%= image_path('title.png') %> alt=""></div>
    <div class="sign_line"><img src=<%= image_path('line.png')%> alt=""></div>
    <div class="sign_text">
      <p>2018年4月10日</p>
      <p>西电Node区块链签到页面</p>
    </div>
    <form class="sign_form" action="" id="signForm">
        <div class="sign_term">
            <label class="sign_name"></label>
            <input type="text" placeholder="请输入姓名" name="name">
        </div>
        <div class="sign_term">
            <label class="sign_phone"></label>
            <input type="text" placeholder="请输入手机号" name="phone">
        </div>
        <div class="sign_button">
            <button>签到</button>
        </div>
    </form>
    <div class="sign_welcome">
      <i>/</i>诚<i>/</i>挚<i>/</i>欢<i>/</i>迎<i>/</i>您<i>/</i>的<i>/</i>到<i>/</i>来<i>/</i>
    </div>
</div>
<!-- 遮罩背景 -->
<div class="sign_bg" style="display: none"></div>
<!-- 签到成功弹框 -->
<div class="sign_tk" id="suc_tk" style="display: none">
  <div class="sign_suc">
    <div class="suc_title"></div>
    <div class="sign_con">
      <p>恭喜您</p>
      <p>今日签到成功</p>
    </div>
    <div class="sign_close" id="suc_close"></div>
  </div>
</div>
<!-- 签到失败弹框 -->
<div class="sign_tk" id="unsuc_tk" style="display: none">
  <div class="sign_suc">
    <div class="unsuc_title">签到失败</div>
    <div class="sign_con">
      <p>可能网络错误</p>
      <p>建议您再试一次</p>
    </div>
    <div class="sign_close" id="unsuc_close"></div>
  </div>
</div>


<script>
$(document).ready(function(){
  /*签到成功弹框关闭*/
  $("#suc_close").click(function(){
    $("#suc_tk,.sign_bg").fadeOut(400);
  });
  /*签到失败弹框关闭*/
  $("#unsuc_close").click(function(){
    $("#unsuc_tk,.sign_bg").fadeOut(400);
  });
    $("#signForm").validate({
        onkeyup:false,
        //设置验证规则
        rules: {
            "name": {
                required: true,
            },
            "phone": {
                required: true,
                isMobile: true
            }
        },
        //设置错误信息
        messages: {
            "name": {
                required: "姓名不能为空"
            },
            "phone": {
                required: "手机号码不能为空",
                isMobile: "请输入有效的手机号码"
            }
        },
        errorElement:"font",
        errorPlacement: function(error, element){
            error.appendTo(element.parent().find(".tipinfo"));
        },success:"valid"
    });
});
</script>
